@font-face {
  font-family: Titillium Web;
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}

body,
html {
  font-family: "Titillium Web";
  background: #f12711;
  background: -webkit-linear-gradient(to top, #f5af19, #f12711);
  background: linear-gradient(to top, #f5af19, #f12711);
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Titillium Web";
}

.page-body {
  color: #fff;
  padding: 1%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  flex: 0 1 auto;
  color: #fff;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

/* ------------- SEARCH SECTION -------------*/
.search-section {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  color: #fff;
  margin: 2.5% 0 10% 0;
}
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3vh;
}

.search-input {
  background: #fff;
  width: 40vw;
  height: 6vh;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  margin: 0 2% 0 0%;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-shadow: 5px 5px 9px -5px #000000;
  box-shadow: 5px 5px 9px -5px #000000;
}
.search-button {
  background: #fff;
  /*height: fit-content;*/
  min-height: 6vh;
  width: 6vh;
  border: none;
  border-radius: 4px;
  margin: 0 2% 2% 0%;
  outline: none;
  box-sizing: border-box;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 9px -4px #000000;
  box-shadow: 5px 5px 9px -4px #000000;
}

.use-location {
  background: #fff;
  width: 40vw;
  height: 6vh;
  padding: 0.5% 0 3% 2%;
  font-size: 1.3rem;
  border-radius: 0 0 4px 4px;
  margin: 0 2% 2% 0%;
  outline: none;
  color: rgb(41, 41, 41);
  box-sizing: border-box;
  border-top: 5px solid #ff4800;
  -webkit-box-shadow: 5px 5px 9px -5px #000000;
  box-shadow: 5px 5px 9px -5px #000000;
}
.geo-fill {
  margin-right: 2%;
  vertical-align: -0.1875em;
}
.search-input::-webkit-input-placeholder {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  color: #000;
}

.search-input:-ms-input-placeholder {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  color: #000;
}

.search-input:-moz-placeholder {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  color: #000;
}

.search-input::-moz-placeholder {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  color: #000;
}
/* ------------- WEATHER CARD -------------*/
.weather-container {
  display: flex;
}

.weather-card {
  /* background: #fff; */
  color: #fff;
  font-size: 1.5rem;
  padding: 2%;
  border-radius: 20px;
  margin: 2%;
}
.weather-card-title {
  font-size: 2rem;
}

.weather-details {
  display: flex;
  font-size: 3rem;
  justify-content: flex-start;
}

.small-icon {
  width: 20px;
  height: 20px;
}
.detail-icon {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.temp-icon {
  display: flex;
  align-items: center;
}
.weather-info {
  font-size: 2rem;
  align-self: flex-start;
}
.weather-details-descp {
  margin-bottom: 2%;
  font-size: 2rem;
}
.weather-info-item {
  display: flex;
  justify-content: space-between;
}
.weather-info-item:last-child {
  border-bottom: none;
}

.weather-bg-block {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 2%;
  margin: 5% 2% 2% 2%;
}
.weather-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.temp {
  font-size: 1.5rem;
  vertical-align: 0.5em;
}
.temp-small {
  font-size: 1.2rem;
  vertical-align: 0.35em;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    color: rgba(199, 199, 199);
    background-color: rgba(199, 199, 199);
  }
  100% {
    color: #fff;
    background-color: #fff;
  }
}
.skeleton-text {
  width: 100%;
  margin-bottom: 0.25rem;
}
.skeleton-fit-content {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.divider-black {
  height: 2px;
  background-color: #000;
  width: 100%;
  margin: 0 auto;
}

/* ------------- MEDIA QUERIES -------------*/
@media screen and (max-width: 765px) {
  .search-input {
    width: 80vw;
  }
  .use-location {
    width: 80vw;
    padding: 0.5% 0 10% 2%;
  }
  .weather-box {
    flex-direction: column;
    min-height: 15vh;
  }
  .weather-icon {
    width: 100px;
    height: 100px;
  }
  .weather-info {
    margin-left: 2%;
    width: 95%;
  }
  .weather-info-item {
    display: flex;
    justify-content: space-between;
  }
  .weather-details {
    flex-direction: row;
  }
  .weather-container {
    display: block;
  }
  .weather-bg-block {
    padding: 5%;
    margin: 10% 5% 1% 5%;
  }
  .flag-icon {
    width: 125px !important;
    height: 125px !important;
  }
}
@media screen and (min-width: 1400px) {
  .search-input {
    width: 45vw;
  }
  .use-location {
    width: 45vw;
    padding: 0.5% 0 0 2%;
  }
  .weather-bg-block {
    width: 25vw;
  }
  .weather-info-item {
    width: 50vw;
  }
}
.spinner {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 20px solid rgb(134, 134, 134);
  border-top-color: #ff4800;
  animation: spin 1s linear infinite;
}
.spinner-box {
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  border-radius: 5%;
  -webkit-box-shadow: 5px 13px 14px -4px rgba(0, 0, 0, 0.76);
  box-shadow: 5px 13px 14px -4px rgba(0, 0, 0, 0.76);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.find-location-text {
  font-size: 2rem;
  text-align: center;
}

/* ------------- LANGUAGE SELECTION -------------*/
.lang-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;

  background-color: #282c34;
}
.flag-icons {
  display: flex;
  justify-content: space-evenly;
}
.flag-icon {
  box-sizing: border-box;
  cursor: pointer;
  width: 20%;
  margin: 2%;
  border-radius: 50%;
}
.flag-icon:hover {
  border: 5px solid #fff;
  transition: 0.1s;
}

/* ------------- GLOBAL CSS -------------*/

.m-0 {
  margin: 0 !important;
}
.mb-2 {
  margin-bottom: 1%;
}
.mb-2 {
  margin-bottom: 2%;
}
.mb-10 {
  margin-bottom: 10%;
}

.col-white {
  color: #fff;
}
.bold {
  font-weight: bold;
}
.rem-15 {
  font-size: 1.5rem;
}
.rem-3 {
  font-size: 3rem;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.center-text {
  text-align: center;
}
.align-flex-end {
  text-align: right;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.border-btm-white {
  border-bottom: 1px solid rgb(255, 255, 255, 0.8);
}
.icon-align {
  vertical-align: -0.15em;
}
